$primary: #2d2f78;

.toolbar-title {
  font-weight: 600;
}

.toolbar-description {
  font-size: 15px;
  color: #5b616b;
  line-height: 16px;
}

.right-controls {
  display: flex;
  gap: 5px;
}

.left-controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button-create {
  background-color: #49439B !important;
  color: white !important;
  border-radius: 10px;
}

mat-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
}