<div class="stages-container">
  <div class="table-header">
    <div class="header-drag"></div>
    <div class="header-ordem">Ordem</div>
    <div class="header-nome">Nome da Tarefa</div>
    <div class="header-prazo">Prazo</div>
    <div class="header-status">Status</div>
    <!-- <div class="header-concluida">Concluída?</div> -->
    <div class="header-acoes">Ações</div>
  </div>

  <div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)">
    @for (tarefa of tarefas(); track tarefa.id ?? tarefa.tempId) {
      <div class="stage-row" cdkDrag>
        <div class="drag-col" cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </div>

        <div class="order-col">{{ $index + 1 }}</div>

        <div class="name-col">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="compact-field">
            <input
              matInput
              [ngModel]="tarefa.nome"
              (ngModelChange)="atualizarTarefa(tarefa, { nome: $event })"
              (keydown.enter)="$event.preventDefault(); adicionarTarefa()"
            />
          </mat-form-field>
        </div>

        <!-- <div class="range-prazo">
          <mat-form-field appearance="outline">
            <mat-date-range-input [formGroup]="getRange(tarefa)" [rangePicker]="picker">
              <input
                matStartDate
                formControlName="start"
                placeholder="Início"
                (dateChange)="atualizarDataInicio(tarefa, $event.value)"
              />
              <input
                matEndDate
                formControlName="end"
                placeholder="Término"
                (dateChange)="atualizarDataTermino(tarefa, $event.value)"
              />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker" />
            <mat-date-range-picker #picker />
          </mat-form-field>
        </div> -->

        <div class="range-prazo">
          <mat-form-field appearance="outline">
            <mat-date-range-input [formGroup]="getRange(tarefa)" [rangePicker]="picker">
              <input
                matStartDate
                formControlName="start"
                placeholder="Início"
                (dateChange)="atualizarDataInicio(tarefa, $event.value)"
              />
              <input
                matEndDate
                formControlName="end"
                placeholder="Término"
                (dateChange)="atualizarDataTermino(tarefa, $event.value)"
              />
            </mat-date-range-input>
            @if (alteracoesPrazo().get(tarefa.id!); as alteracoes) {
              @if (alteracoes.length > 1) {
                <mat-hint
                  class="prazo-alterado"
                  [matTooltip]="formatarAlteracoesPrazo(tarefa.id!)"
                  matTooltipClass="tooltip-alteracoes"
                >
                  <span style="text-decoration: line-through">
                    {{ formatarData(alteracoes[alteracoes.length - 2].dataInicio) }}
                    –
                    {{ formatarData(alteracoes[alteracoes.length - 2].dataTermino) }}
                  </span>
                </mat-hint>
              }
            }
            <mat-datepicker-toggle matIconSuffix [for]="picker" />
            <mat-date-range-picker #picker />
          </mat-form-field>
        </div>

        <div class="status-col">
          <mat-form-field appearance="outline">
            <mat-label>Status do projeto</mat-label>
            <mat-select name="status" [(ngModel)]="tarefa.status">
              <mat-option [value]="statusTarefas.NAO_INICIADA">
                <mat-icon class="mat-icon-nao-iniciado">mode_standby</mat-icon>
                <span>Não iniciada</span>
              </mat-option>
              <mat-option [value]="statusTarefas.EM_ANDAMENTO">
                <mat-icon class="mat-icon-em-andamento">play_circle</mat-icon>
                <span>Em andamento</span>
              </mat-option>
              <mat-option [value]="statusTarefas.CONCLUIDA">
                <mat-icon class="mat-icon-concluido">check_circle</mat-icon>
                <span>Concluída</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="concluido-col">
          <mat-slide-toggle
            [ngModel]="tarefa.concluido"
            (ngModelChange)="atualizarTarefa(tarefa, { concluido: $event })"
          />
          <span>{{ tarefa.concluido ? 'Sim' : 'Não' }}</span>
        </div> -->

        <div class="actions-col">
          <button
            class="button-delete"
            mat-icon-button
            color="warn"
            type="button"
            (click)="excluirTarefa(tarefa)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
    }
  </div>
  <div class="add-task">
    <button mat-stroked-button type="button" (click)="adicionarTarefa()">
      <mat-icon>add</mat-icon>
      <span>Adicionar tarefa</span>
    </button>
  </div>
</div>
