@use '@angular/material' as mat;
$font-size: 14px;
$grid-tabela: 40px 70px minmax(250px, 1fr) 240px 200px /*100px*/ 80px;

.table-header {
  display: grid;
  grid-template-columns: $grid-tabela;
  gap: 12px;
  align-items: center;
  padding: 0 12px 12px;
  font-size: $font-size;
  font-weight: 600;
  color: #4b5563;
  border-bottom: 1px solid #e5e7eb;

  .header-acoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.drag-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.stage-row {
  display: grid;
  grid-template-columns: $grid-tabela;
  gap: 12px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;

  transition: all 0.05s ease;

  mat-form-field {
    width: 100%;
    height: 40px;
    flex: 1;

    @include mat.form-field-overrides(
      (
        container-height: 40px,
        container-vertical-padding: 10px,
        outlined-focus-outline-width: 1px,
        outlined-outline-color: #d1d5db,
        container-text-size: 14px,
      )
    );
  }

  &:hover {
    border-color: #d1d5db;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
}

.drag-col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: grab;
  color: #9ca3af;
}

.drag-col:hover {
  color: #4f46e5;
}

.drag-col:active {
  cursor: grabbing;
}

.order-col {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: $font-size;
  font-weight: 500;
}

.name-col,
.date-col {
  width: 100%;
}

// Status
.status-col {
  display: flex;
  flex: 1;

  mat-form-field {
    width: 100%;
    height: 40px;
  }

  mat-icon.mat-icon-nao-iniciado {
    color: #e09004;
  }
  mat-icon.mat-icon-em-andamento {
    color: #2dbe60;
  }
  mat-icon.mat-icon-concluido {
    color: #2f80ed;
  }
}

.compact-field {
  width: 100%;
}

// .concluido-col {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

// .concluido-col span {
//   font-size: $font-size;
//   color: #374151;
// }

.actions-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.actions-col {
  .button-delete {
    color: var(--mat-sys-error);
  }
}

.add-task {
  margin-top: 12px;
  padding: 0 12px;

  button {
    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: none;
}

.drag-list.cdk-drop-list-dragging .stage-row:not(.cdk-drag-placeholder) {
  transition: none;
}
