<div class="main">
  <!-- CARDS DE STATUS -->
  <div class="cards-container-status">
    @for (
      cardValue of cardValues.filter((card) => !card.atrasado || indicadores().atrasadas > 0);
      track cardValue
    ) {
      <app-card-status-tasks
        [status]="cardValue.status"
        [value]="
          cardValue.status === 'TotalItens'
            ? indicadores().total
            : cardValue.atrasado
              ? indicadores().atrasadas
              : cardValue.status === statusTasks.CONCLUIDA
                ? indicadores().concluidas
                : cardValue.status === statusTasks.EM_ANDAMENTO
                  ? indicadores().emAndamento
                  : cardValue.status === statusTasks.NAO_INICIADA
                    ? indicadores().naoIniciadas
                    : 0
        "
        [icon]="cardValue.icon"
        [title]="cardValue.title"
        [numerador]="
          cardValue.status === 'TotalItens'
            ? indicadores().total
            : cardValue.atrasado
              ? indicadores().atrasadas
              : cardValue.status === statusTasks.CONCLUIDA
                ? indicadores().concluidas
                : cardValue.status === statusTasks.EM_ANDAMENTO
                  ? indicadores().emAndamento
                  : cardValue.status === statusTasks.NAO_INICIADA
                    ? indicadores().naoIniciadas
                    : 0
        "
        [denominador]="indicadores().total"
      />
    }
  </div>

  <div class="filtros">
    <div class="filtro gestor">
      <app-user-filter
        label="Gestor"
        [itens]="gestores()"
        [(valor)]="gestorSelecionado"
        [disabled]="false"
      />
    </div>
    <div class="filtro responsavel">
      <app-user-filter
        label="Responsável"
        [itens]="usuarios()"
        [(valor)]="usuarioSelecionado"
        [disabled]="true"
      />
    </div>
  </div>

  <!-- TABELA -->

  <div class="container-table">
    <table mat-table [dataSource]="dataSource()" class="tabela-projetos">
      <!-- PESSOA -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="coluna-pessoa">Pessoa</th>
        <td mat-cell *matCellDef="let pessoaProjeto" class="coluna-pessoa">
          <div class="pessoa">
            <div class="pessoa-avatar">{{ pessoaProjeto.nome.charAt(0).toUpperCase() }}</div>
            <span class="pessoa-nome">{{ pessoaProjeto.nome }}</span>
          </div>
        </td>
      </ng-container>

      <!-- ATIVIDADES + PRAZO -->
      <ng-container matColumnDef="atividades">
        <th mat-header-cell *matHeaderCellDef class="coluna-atividades">Atividades da Semana</th>
        <td mat-cell *matCellDef="let pessoaProjeto" class="coluna-atividades">
          <div class="lista-projetos">
            <!-- PROJETO -->
            @for (projeto of pessoaProjeto.projetos; track projeto.id) {
              <ng-container>
                <div class="projeto-grupo">
                  <!-- NOME DO PROJETO -->
                  <div class="projeto">
                    <mat-icon class="projeto-icon">folder</mat-icon>
                    <span class="projeto-nome">{{ projeto.nome }}</span>
                  </div>

                  @for (tarefa of projeto.tarefas; track tarefa.id) {
                    <!-- ATIVIDADES DO PROJETO -->
                    <div class="atividade">
                      <!-- PRAZO -->
                      <span class="atividade-prazo">
                        {{ tarefa.dataTermino | date: 'dd/MM' }}
                      </span>

                      <!-- STATUS -->
                      <mat-icon
                        class="atividade-icon"
                        [ngClass]="
                          tarefa.status == statusTasks.CONCLUIDA
                            ? 'concluida'
                            : tarefa.status == statusTasks.NAO_INICIADA
                              ? 'nao-iniciada'
                              : 'em-andamento'
                        "
                      >
                        @if (tarefa.status == statusTasks.CONCLUIDA) {
                          {{ 'check_circle' }}
                        } @else if (tarefa.status == statusTasks.EM_ANDAMENTO) {
                          {{ 'play_circle' }}
                        } @else if (tarefa.status == statusTasks.NAO_INICIADA) {
                          circle
                        }
                      </mat-icon>

                      <!-- ATRASADA -->
                      <span class="atividade-atrasada">
                        @if (tarefa.dataTermino < segunda) {
                          <mat-icon class="atividade-icon atrasada">error</mat-icon>
                        }
                      </span>

                      <!-- NOME -->
                      <span class="atividade-nome">
                        {{ tarefa.nome }}
                      </span>
                    </div>
                  }
                </div>
              </ng-container>
            }
          </div>
        </td>
      </ng-container>

      <!-- HEADER -->
      <tr mat-header-row *matHeaderRowDef="['nome', 'atividades']"></tr>
      <!-- ROW -->
      <tr mat-row *matRowDef="let row; columns: ['nome', 'atividades']"></tr>
    </table>
  </div>
</div>
