<mat-card class="project-card">
  <mat-card-content>
    <div class="card-header">
      <div class="card-icon">
        <mat-icon [svgIcon]="icon()" aria-hidden="true" />
      </div>
      <div class="card-info">
        <span class="card-title">{{ title() }}</span>
        <span class="card-value">{{ value() }}</span>
      </div>
    </div>
    @if (status() !== 'TotalItens') {
      <div class="progress-container">
        <span class="progress-percentage"
          >{{ denominador() > 0 ? ((numerador() / denominador()) * 100).toFixed(0) : 0 }}% do
          Total</span
        >
        <div class="progress-info">
          <div class="progress-bar">
            <div
              class="progress-fill"
              [style.width.%]="denominador() > 0 ? (numerador() / denominador()) * 100 : 0"
            ></div>
          </div>
          <span class="progress-text">{{ numerador() }} / {{ denominador() }}</span>
        </div>
      </div>
    }
  </mat-card-content>
</mat-card>
